<div class='user-header'>
  <%= link_to image_tag("tu_footer.png", class:"logo-white"), "#" %>
  <%= link_to image_tag("20201013105250328fca7eb64.png", class:"logo-white"), "#" %>
  <%= link_to image_tag("ik_footer.png", class:"logo-white"), "#" %>
</div>