

.links{
  list-style: none;
  margin-top: 8vh;
  font-size: 4vw;
  display: flex;
  justify-content: space-around;
}

.page-right,
.page-left{
  background: #ffffff;
  padding: 6vh;
  border-radius: 7vw;
}



/* 　　　　　　　　　　　　　　データ一覧　　　　　　　　　　　　　　　　　　　*/

.registared-data{
  width: 100%;
}

.food-title,
.hotel-title{
  background-color: #ffd6dd;
  box-shadow: 0 0 10px rgba(41,41,41,0.2);
  text-align: center;
  padding: 3%;
  font-size: 1.25em;
  margin: 7vh;
}


.food-data,
.hotel-data{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


.list{
  display: flex;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 10px rgba(41,41,41,0.5);
  margin: 1vw;
  position: relative;
  padding-top: 1vw;
}

.more ul li ul{
  display: none;
  position: absolute;
  left: 0;
  
}
.more ul li:hover ul{
  display: block;
  cursor: pointer;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  border-radius: 3px;
}


.more-list{
  display: none;
  
}

.img{
  width: 30vw;
  height: 30vh;
}


.info-grid{
  width: 15vw;
  word-break: break-all;
}

.info-field li {
 
  padding: 1vw;
}




