/* 　　　　　　　ヘッダー　　　　　　　　 */

.top-page-header {
  width: 100vw;
  background-color:rgb(155,228,241);
  display: flex;
  align-items: center;
  font-family: Hannotate SC;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0.1% 0;
}

.lists-left {
  font-size: 13px;
  margin-left: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
}

.islands-icon {
  height: 13vh;
  width: 8vw;
  border-radius: 25px;
  transition: box-shadow .5s;
}
.islands-icon:hover{
  box-shadow: 0 12px 12px gray;
}


.language-select {
  font-size: 17px;
  margin-left: 2vw;
  color: #FFF;
  text-decoration: none;
}

.english-list {
  margin-bottom: 7px;
}

.china-list {
  margin-top: 7px;
}



.lists-right{
  display: flex;
  flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
  list-style: none;
  margin-bottom: -1%;
}

.lists-right li a{
  display: block;
  padding:10px 20px;
  text-decoration: none;
  color: #333;
  font-size: 19px;
}

.lists-right li{
  margin-bottom:20px;
}

.lists-right li a{
  /*背景色の基点とするためrelativeを指定*/
position: relative;
}

.lists-right li.current a,
.lists-right li a:hover{
color:#0481A2;
}

.lists-right li a::after {
content: '';
/*絶対配置で線の位置を決める*/
position: absolute;
bottom: 0;
left: 10%;
/*線の形状*/
width: 80%;
height: 2px;
background:white;
/*アニメーションの指定*/
transition: all .3s;
transform: scale(0, 1);/*X方向0、Y方向1*/
transform-origin: left top;/*左上基点*/
}

/*現在地とhoverの設定*/
.lists-right li.current a::after,
.lists-right li a:hover::after {
transform: scale(1, 1);/*X方向にスケール拡大*/
}





/* 　　　　　　　　　　　　　　ボディー　　　　　　　　　　　　　　　　　　　*/
#splash {
  /*fixedで全面に固定*/
position: fixed;
z-index: 999;
width: 100%;
height: 100%;
background:#333;
text-align:center;
color:#fff;
}

/* Loadingバー中央配置　*/
#splash_text {
position: absolute;
top: 50%;
left: 50%;
z-index: 999;
width: 100%;
transform: translate(-50%, -50%);
color: #fff;
}



.body{
  position: relative;
}
.body-text-box{
  text-align: center;
  z-index: 2;
  background-color:rgba(255,255,255,0.55);
  border-radius: 10px;
  width: 75vw;
  position: absolute;
  top: 15%;
  left: 13%;
  margin: auto;
  font-family: "Times New Roman", "游明朝", "YuMincho","ヒラギノ明朝 Pr6 W6","Hiragino Mincho Pro", "HGS明朝E","メイリオ", "ＭＳ Ｐ明朝","MS PMincho","Meiryo", serif;
  font-weight: bold;
  text-shadow: white 1px 1px 6px, white -1px 1px 6px, white 1px -1px 6px, white -1px -1px 6px;
  
}
.text-upper{
  margin: 8% auto;
  font-size: 2.45vw;

}
.text-middle{
  margin: 8% auto;
  font-size: 5vw;
}
.text-lower{
  margin: 8% auto 15%;
  font-size: 2.3vw;
}




/* 　　　　　　　　　　　　　　スライド　　　　　　　　　　　　　　　　　　　*/

.wrapper{
  z-index: 1;
  width: 100%; 
}

.body2{
  display: flex;
}

.insta{
  width: 50%;
  margin-top: 1vh;
}

.letters{
  height: 52vh;
  writing-mode: vertical-rl;
  font-size: 32px;
  /* background-color: cadetblue; */
  width: 50%;
  padding: 1vh;
}

.letters h1{
  font-size: 40px;
}

.letters p{
  padding: 0 1vw;
}


/* 　　　　　　　　　　　　　　フッター　　　　　　　　　　　　　　　　　　　*/

.footer {
  width: 100vw;
  padding: 3vh 0;
  color: #FFF;
  background-color: rgb(155,228,241);
  text-align: center;
}

.footer-contents {
  display: flex;
  justify-content: center;
}

.furima-details {
  margin: 0 4vw;
}

.footer-content-head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-link {
  color: #FFF;
  font-size: 12px;
  line-height: 30px;
}

.logo-white {
  width: 25vh;
  vertical-align: bottom;
}

.host-page{
  color:blanchedalmond;
  font-size: 4px;
}

.footer-contents-lower{
  margin: 0 auto;
}