
.top-image-iki img{
	width: 100%;
	height: 85%;
	position: relative;
	z-index: 0;
}

.top-image-iki span{
	width: calc(50% - 36vw);
	height: 43%;
	writing-mode: vertical-rl;
	background-color: black;
	font-family: 'New Tegomin', serif;
	font-size: 9rem;
	color: #fed695;
	position: absolute;
	top: 19vh;
	left: 5vw;
	padding: 1vw;
	z-index: 2;
}

.top-image-iki ul{
	height: 43vh;
	writing-mode: vertical-rl;
	background-color: black;
	font-family: 'New Tegomin', serif;
	font-size: 1.2rem;
	line-height: 2;
	color: #fed695;
	position: absolute;
	top: 19vh;
	left: 18vw;
	padding: 3vw;
	z-index: 2;
}

.top-image-tushima img{
	width: 100%;
	height: 85%;
	position: relative;
}

.top-image-tushima span{
	width: calc(50% - 36vw);
	height: 43%;
	writing-mode: vertical-rl;
	background-color: black;
	font-family: 'New Tegomin', serif;
	font-size: 9rem;
	color: #fed695;
	position: absolute;
	top: 19vh;
	right: 5vw;
	padding: 1vw;
	z-index: 2;
}

.top-image-tushima ul{
	height: 43vh;
	writing-mode: vertical-rl;
	background-color: black;
	font-family: 'New Tegomin', serif;
	font-size: 1.2rem;
	line-height: 2;
	color: #fed695;
	position: absolute;
	top: 19vh;
	right: 18vw;
	padding: 3vw;
	z-index: 2;
}

.wrapper{
	background-color: black;
}

.upper-toppage{
	position: absolute;
	bottom: 0%;
	right: 1%;
	font-size: 20px;
	background-color: #eeeeee;
}

.sort-btn ul{
	position: relative;
}

/*＝＝＝並び替えボタンのCSS*/
.sort-btn{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding:50px 20px;
}

.sort-btn li{
	background:#eee;
list-style:none;
	border-radius:10px;
	cursor: pointer;
	padding: 10px;
	margin:0 10px;
}

.sort-btn li.active{/*ボタンに現在地＝activeというクラス名がついたら背景色を変更*/
	background:#ccc;	
}

/*横幅が480px以下になった際の指定*/
@media only screen and (max-width: 480px) {
.sort-btn{
	justify-content: space-between;
}
	
.sort-btn li{
	width:48%;
	margin:0 0 10px 0;
	text-align:center;
	}	
}

/*＝＝＝Muuriのレイアウトのための調整 */
.grid {
  position: relative;/*並び替えの基準点を指定*/
}

/*各画像の横幅などの設定*/
.item {
  display: block;
  position: absolute;
  width: 33%;/*横並びで3つ表示*/
  z-index: 1;
list-style:none;
}

/*内側のボックスの高さが崩れないように維持*/
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
	padding: 1vw;
}

/*画像の横幅を100%にしてレスポンシブ化*/
.grid img{
	width:100%;
	height:auto;
	vertical-align: bottom;/*画像の下にできる余白を削除*/
}

/*横幅が768px以下になった際の指定*/
@media only screen and (max-width: 768px) {
.item {
  width: 49.5%;/*横並びで2つ表示*/
}
}

/*＝＝＝fancyboxサムネイル背景と画像選択時の枠線の指定*/
.fancybox-thumbs {
    background: transparent!important;
}

.fancybox-thumbs__list a:before {
    border: 4px solid #FA999B;
}
.lower-toppage{
	text-align: center;
	font-size: 20px;
	padding: 2vh;
}
.lower-toppage a{
	background-color: #eeeeee;
}