<%= render 'shared/header' %>
  
<!--==============レイアウトを制御する独自のCSSを読み込み===============-->
  <header id="header">
    <div id="loading">Loading...</div>
    <div id="youtube-area"></div>
    <h1>あなたは島に行ったことがありますか？</h1>
    <div id="youtube"></div><!--youtube表示エリア-->
    <div id="youtube-mask"></div><!--youtubeマスクエリア-->
  </header>

  <div id="container">
  <p>ここにコンテンツが入ります</p>  
  <!--/container--></div>
<script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-3-2/js/6-3-2.js"></script>

</html>